# SQL Extra Topics - SQLAlchemy

The SQLAlchemy SQL Toolkit and Object Relational Mapper is a comprehensive set of tools for working with databases and Python.

In [ ]:
# imports

import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
import pandas as pd

sqlalchemy.__version__

---

In [ ]:
# Connection string assembly (https://docs.sqlalchemy.org/en/14/core/engines.html)

connection_string = 'sqlite:///datasets/publications.db'
connection_string

In [ ]:
# SQL Engine => dialect+driver 

engine = create_engine(connection_string)
type(engine)

In [ ]:
# Get DDBB tables

inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
# Get table info

inspector.get_columns('authors')

---

In [ ]:
# Pandas!!!

df = pd.read_sql_query("SELECT * FROM authors", engine)
df

---

### Let's see some examples...

In [ ]:
# CHALLENGE 1

query_ch1 = '''
SELECT authors.au_id AS 'AUTHOR ID',
authors.au_lname AS 'LAST NAME',
authors.au_fname AS 'FIRST NAME', 
title.title AS 'TITLE', 
pub.pub_name AS 'PUBLISHER'
FROM authors
INNER JOIN titleauthor ta ON authors.au_id = ta.au_id 
INNER JOIN titles title ON ta.title_id = title.title_id
INNER JOIN publishers pub ON title.pub_id = pub.pub_id
'''

In [ ]:
df_ch1 = pd.read_sql_query(query_ch1, engine)
df_ch1

---